body {
  font-family: "Domine", serif;
  font-size: 12pt;
  color: black;
  background-color: #B8E2C8;
}

h2 {
  font-family: "Domine", serif;
  font-size: 24pt;
  color: black;
  /*headline style css*/
}

.classes-got-dots {

}

#ids-get-hash-signs {

}

@media (min-width: 500px) {

}

@media (min-width: 800px) {

}
