body {
  font-family: "Domine", serif;
  font-size: 12pt;
  color: black;
  background-color: #ffffff;
  margin-left: 1000px;
}

h1 {
  font-family: "Domine", serif;
  font-size: 36pt;
  color: black;
  /*headline style css*/
}

h2 {
  font-family: "Domine", serif;
  font-size: 24pt;
  color: black;
  /*headline style css*/
}

.classes-got-dots {

}

#ids-get-hash-signs {

}

@media (min-width: 500px) {

}

@media (min-width: 800px) {

}

{
    box-sizing: border-box;
    outline: none !important;
}
button:focus { outline: none !important; box-shadow: none !important; }
a:focus {outline: none !important;}
body { font-family: 'Inter', sans-serif; color: #333333; font-weight: 400; font-size: 20px; line-height: 1.5; margin: 0; padding: 0; overflow-x: hidden; -webkit-text-size-adjust: 100%;}
img {max-width: 100%;}
p, li {font-size: 20px; color: #333333; line-height: 1.5;}
p {margin:0 0 20px 0;}
ul {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-top: 0px;
    line-height: normal;
    font-family: 'Poppins', sans-serif;
    line-height: 1.1;
    font-weight: 700;
}
.main {
  margin-left: 15em
}

.sidebar{
  width: 10em;
 position: fixed;
 z-index: 1;
 top: 1em;
 left: 1em;
 background: #ABC8C7;
 overflow-x: hidden;
 padding: 1em;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 90%;
    height: auto;
    position: relative;
  }
.main {margin-left:1em}
.logo {float:left;
margin-right: 1em;
width: 25%;}

}

.sidebar a {float: left;}
  div.content {margin-left: 0;}
}

.navbar{
background-color: #BFF0D4;
overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: #2f4778;
  text-align: center;
  padding: 1em 1.2em;
  text-decoration: none;
  font-size: 1.4em;
}

.navbar a:hover {
  background-color: #BFF0D4;
  color: #2f4778;
}

.navbar a.active {
  background-color: #2f4778;
  color: white;
}

.navbar.icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1642px;
}
.inner-wrapper-padding {
    padding: 0 80px;
}

.about-timeline{background-color:#f3f3f3; padding: 140px 0 125px;}

.timeline-box h6{font-size: 55px; line-height: 1; color: #d21e1e; font-weight: 700; font-family: 'Poppins', sans-serif;background-color: #f3f3f3;position: relative; z-index: 1; display: inline-block; width: auto; padding: 0 10px;margin-top: 0; transform: translate(0,-50%);}



*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  margin: 25px 25px 0px 25px;
  text-align: center;
}

body {
  margin: 0;
  font-family: Domine
  background: #ffffff;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: #2f4778;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  left: 0;
}

.container.right {
  left: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #2f4778;
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #2f4778;
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #2f4778;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left .date {
  right: -120px;
}

.container.right .date {
  left: -120px;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: #BFF0D4;
  border: 2px solid #2f4778;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #2f4778;
  z-index: 1;
}

.container.left .icon {
  right: 56px;
}

.container.right .icon {
  left: 56px;
}

.container .content {
  padding: 30px 90px 30px 30px;
  background: #BFF0D4;
  position: relative;
  border-radius: 0 500px 500px 0;
}

.container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: #2f4778;
}

.container .content p {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }

  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after,
  .container.right::after {
    left: 82px;
  }

  .container.left::before,
  .container.right::before {
    left: 100px;
    border-color: transparent #006E51 transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 15px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 146px;
  }

  .container.left .content,
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}
